# Логи
*.log

# Файлы операционных систем
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.temp

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo

# Зависимости
node_modules/
vendor/

# Файлы окружения
.env
.env.local

# Скомпилированные файлы
*.class
*.exe
*.dll
